* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans;
}

body {
  overflow: hidden;
}

#info {
  width: 300px;
  padding: 10px;
  left: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 2;
  text-align: left;
  cursor: default;
  pointer-events: none;
}

#info ul, #info li {
  list-style: none;
}
#info li {
  color: #999;
}
#info li span {
  color: #000;
}
#info li.total {
  font-weight: bold;
  font-size: 1.5em;
}

body .dg.ac {
  top: 70px;
}
