* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans;
}

#info {
  width: 300px;
  padding: 10px;
  right: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 2;
  text-align: right;
}

#info ul, #info li {
  list-style: none;
}
#info li {
  color: #999;
}
#info li span {
  color: #000;
}
#info li.total {
  font-weight: bold;
  font-size: 2em;
}
